{% extends 'base.html.twig' %}

{% block title %}
    Erreur {{ status_code }} | Page Non Trouvée
{% endblock %}

{% block body %}
    <h1> Page non trouvée</h1>
    <p>
        Code d'erreur : {{ status_code }}
    </p>
    <p><a href="{{ path('home') }}">Retourner à la page d'accueil</a></p>
{% endblock %}
