{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {# menu #}
        {% include '_components/menu.html.twig' %}

        {# contenu #}
        <main>
            {# messages flash #}
            {% include '_components/_flash_message.html.twig' %}

            {% block content %}
            {% endblock %}
        </main>
    </div>
{% endblock %}
