{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("styles/menu.css") }}">
{% endblock %}

{% block body %}
    <div class="container">
        {# menu #}
        {% include '_components/menu.html.twig' %}

        {# messages flash #}
        {% include '_components/_flash_message.html.twig' %}

        {# contenu #}
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
